body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #ff9700;
    color:#ffeed6;
}

.block{
    margin: 10px;
    padding: 10px;
    border: 3px solid #ffeed6;
    border-radius: 10px;
}

h1{
   color: #ffeed6;
   padding:0px 10px 5px 10px;
   text-align: center;
   font-size:50px ;
   margin: 5px;
}

h2{
    text-align: center;
}
.rad{
    border-radius: 10px;
    width: 30%;
    border:3px dotted #ffeed6;
}

nav{
    background-color: #ffeed6;
    color: #ff9700;
    padding: 10px 0px 10px 0px;
    font-size: 20px;
}

nav a{
    color: #ff9700;
    text-decoration: none;
    padding-left: 20%;
}

footer{
    border-top: 3px double #ffeed6;
    text-align: center;
    padding: 0px;
    margin: 0px; 
    border-bottom:3px double #ffeed6 ;
    background-color: #ff9700;
}

table{
    margin: 0px 10% 0px 10%;
}

table td{
    padding: 0px 20px 5px 20px;
}

.im{
    text-align: center;
}

.im1{
    border-radius: 10px;
    width: 50%;
    border:3px dotted #ffeed6;
}
